body { margin:0; padding:0; }
.container {	
	height: 100%;		
}

#map-column {
	position: relative;
	height: 400px;
}

#map { 	
	width: 100%;
	position: absolute;
	top:0px;
	bottom: 0px;
	
	left:0px;
	right: 0px;
}

#demo {
	position:relative;
	text-align: middle;
	
	z-index: 999;
}

body, html {
	height: 100%;
}

